# Demonstrate More Functionality with data

### Import data from last lesson

In [1]:
from data_utils import read_csv_rows

filename: str = "../data/Weather.csv"
data: list[dict[str, str]] = read_csv_rows(filename)
data

[{'Day': 'Monday', 'Low': '56', 'High': '75'},
 {'Day': 'Tuesday', 'Low': '53', 'High': '72'},
 {'Day': 'Wednesday', 'Low': '50', 'High': '72'}]

### Data in Column-Orienated Format

In [2]:
from data_utils import columnar

column_data: dict[str, list[str]] = columnar(data)
column_data

{'Day': ['Monday', 'Tuesday', 'Wednesday'],
 'Low': ['56', '53', '50'],
 'High': ['75', '72', '72']}

### Printing Data as Table

In [3]:
from tabulate import tabulate
# dict.keys() will return the keys of the dict

tabulate(column_data, column_data.keys(), "html")

'<table>\n<thead>\n<tr><th>Day      </th><th style="text-align: right;">  Low</th><th style="text-align: right;">  High</th></tr>\n</thead>\n<tbody>\n<tr><td>Monday   </td><td style="text-align: right;">   56</td><td style="text-align: right;">    75</td></tr>\n<tr><td>Tuesday  </td><td style="text-align: right;">   53</td><td style="text-align: right;">    72</td></tr>\n<tr><td>Wednesday</td><td style="text-align: right;">   50</td><td style="text-align: right;">    72</td></tr>\n</tbody>\n</table>'

### Get Table of just Monday and Tuesday

In [10]:
smaller_data_set: dict[str, list[str]] = {}

for keys in column_data:
    # just the first two data
    sub_list: list[str] = []
    data_to_get: list[str] = column_data[keys]
    idx: int = 0
    while idx < 2:
        sub_list.append(data_to_get[idx])
        idx += 1
    smaller_data_set[keys] = sub_list
print(smaller_data_set)

tabulate(smaller_data_set, smaller_data_set.keys(), 'html')

{'Day': ['Monday', 'Tuesday'], 'Low': ['56', '53'], 'High': ['75', '72']}

'<table>\n<thead>\n<tr><th>Day    </th><th style="text-align: right;">  Low</th><th style="text-align: right;">  High</th></tr>\n</thead>\n<tbody>\n<tr><td>Monday </td><td style="text-align: right;">   56</td><td style="text-align: right;">    75</td></tr>\n<tr><td>Tuesday</td><td style="text-align: right;">   53</td><td style="text-align: right;">    72</td></tr>\n</tbody>\n</table>'

### Alternative way to get the two first values

In [12]:
idx: int = 0
smaller_set: list[str] = []
while idx < 2:
    smaller_set.append(data[idx])
    idx += 1
dataset = columnar(smaller_set)
tabulate(dataset, dataset.keys(), 'html')

'<table>\n<thead>\n<tr><th>Day    </th><th style="text-align: right;">  Low</th><th style="text-align: right;">  High</th></tr>\n</thead>\n<tbody>\n<tr><td>Monday </td><td style="text-align: right;">   56</td><td style="text-align: right;">    75</td></tr>\n<tr><td>Tuesday</td><td style="text-align: right;">   53</td><td style="text-align: right;">    72</td></tr>\n</tbody>\n</table>'